.useState {
  border: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.btn {
  border: 1px;
  border-radius: 10%;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: violet;
}

.useEffect {
  border: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #8b8989;
  border-radius: 10px;
}
